@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-default navbar-fixed-bottom" role="alert">
        <div class="container-fluid">
            <div class="collapse navbar-collapse ">
                <p class="navbar-text">

                    <span class="glyphicon glyphicon-info-sign" style="color:green" aria-hidden="true"></span>
                    We use necessary cookies to make our site work. We’d like to set additional cookies to understand site usage, make site improvements and to remember your settings.
                    <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Learn More</a>
                    <button type="button" class="btn btn-success navbar-btn" data-cookie-string="@cookieString">Accept</button>
                </p>
            </div>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}